<footer>
  <div class="footer" sticky buttom>
    <div class="social-icons">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-info">
      <p class="copyright"><%= Time.now.year %> Easy Cart &copy;</p>
      <p class="rights">Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
