<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card text-center" style="width: 80%; max-width: 600px;">
    <div class="card-body">
      <h1 class="card-title">Thank You!</h1>
      <p class="card-text mt-4">
        Your shipping information has been sent to your email, please expect to receive your package within 7-10 business days!
      </p>
      <a href="/" class="btn btn-light mt-4">Home</a>
    </div>
  </div>
</div>
