
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: $navy-blue; // Navy blue background color
  color: $light-cream; // Light cream text color
  margin-top: auto;


  .social-icons {
    display: flex;
    gap: 15px;

    a {
      color: $light-cream; // Light cream icons
      font-size: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: $taupe; // Taupe hover effect
      }
    }
  }

  .footer-info {
    text-align: right;

    .copyright {
      font-size: 14px;
      font-weight: bold;
    }

    .rights {
      font-size: 12px;
      font-style: italic;
    }
  }
}
