<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://admin.brands.com//brand/1666931040230-easycart1440.jpg
);">
</div>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1> All Products </h1>
      <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Products</h3>
    <% if user_signed_in? %>
      <%= link_to "Create a product", new_product_path, class: "btn btn-flat" %>
    <% end %>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to product_path(product), class:"text-decoration-none text-dark" do %>
          <div class="card-category">
            <%= product.title %>
            <%= product.price %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>  
</div>
</div>
