<h1>My Products</h1>

<%= link_to 'Create New Product', new_product_path, class: "btn btn-primary" %>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-12">
      <%= link_to product_path(product) do %>
        <div class="card-category">
          <h5><%= product.title %></h5>
          <p><%= product.price %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
